body {
    background-color: #d4c5b6;
}

.container {
    width: 50%;
    margin: auto;
    padding-top: 30px;
    font-size: large;
}

input,
select,
textarea {
    border: 3px solid black;
}

input[type="submit"] {
    width: 40%;
    padding: 15px;
    margin: auto;
    background-color: black;
    color: white;
    display: inline;
    font-size: large;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
